{{!< default}}

<main id="content" class="wrapper" role="main">
    <!-- <section class="k-intro k-section uk-clearfix uk-flex uk-flex-center uk-flex-middle {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
        <div class="uk-container uk-container-center">
            <article class="uk-width-large-6-10  uk-width-medium-9-10 uk-width-small-1-1 uk-container-center">
                <header>
                    <h2 class="uk-contrast">{{@blog.title}}</h2>
                    <p class="first">{{@blog.description}}</p>
                    <p>{{date published_at format="MMMM DD, YYYY"}}</p>
                </header>
                <div class="k-intro-spot">

                </div>
            </article>
        </div>
    </section> -->

    <section class="k-intro k-section uk-clearfix">
        {{> "loop"}}
    </section>
</main>
